.btn {
    align-items: center;
    background-image: $gradiente;
    box-shadow: $shadow;
    border-radius: 15px;
    border: none;
    color: white;
    display: flex;
    height: 45px;
    width: 45%;
    justify-content: center;
    font-family: $roboto-font;
    font-size: 25px;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid black;
}

