div {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: purple;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

li {
  margin-top: 20px;
}

.movieContainer {
  width: 800px;
  height: 700px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 13px 18px 13px;
  border-radius: 9px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 255, 0.25);
  margin-right: 16px;
  background-color: green;
  color: red;

}

#backgroudImage {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url('../../assets/imgs/backgroundMovies.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.boxMovie {
  font-size: 25px;
  width: 400px;
  height: 50px;
  color: white;
  background-color: gray;
  margin-top: 30px;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow;
  background-image: $gradiente;
}

.boxApresentation {
  height: 300px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: $shadow;
  background-image: $gradiente;
  color: beige;
  padding-left: 30px;
  font-family: $roboto-font;

  @media(max-width:1000px) {
    height: 300px;
  }
}
